{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}

<link rel="stylesheet" href="{{ asset('bundles/inventory/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/inventory/style.css') }}">
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('bundles/inventory/bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/inventory/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

{% endblock %}

{% block body %}
<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="{{ url('index') }}" class="navbar-brand">AMCHS UIL Concessions</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% for menu in mainmenu %}
        <li {% if menu.url == app.request.getRequestUri() %}class="active"{% endif %}>
          <a href="{{ menu.url }}">{{ menu.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
 </div>
</div>

{% endblock %}
