{% extends 'InventoryBundle::layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>A&amp;M Consolided Speech and Debate - Concessions System</h1>
{% for flashMessage in app.session.flashBag.get('notice-success') %}
    <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{ flashMessage }}
    </div>
{% endfor %}

<table class="table table-bordered">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Quantity Sold</th>
    <th>Sell!</th>
  </tr>
  {% for category in categories_unparsed %}
      <tr>
        <td colspan="4"><b>{{ category.name }}</b></td>
      </tr>
      <tr>
        {% for item in category.items %}
        <tr>
          <td><form class="form-inline"><div class="checkbox"><label class="checkbox-inline"><input type="checkbox" id="selectItem{{ item.id }}" class="selectItem" value=""></label></div></form></td>
          <td>{{ item.name }}</td>
          <td><input id="sellItem{{ item.id }}Count" type="number" min="1" class="form-control" value=1></td>
          <td><button id="sellItem{{ item.id }}" data-button="{{ item.id }}" type="button" class="btn btn-danger sellItem">Sell!</button></td>
        </tr>
        {% endfor %}
      </tr>
  {% endfor %}
  {# {% for item in items %}
      <tr>
        <td><form class="form-inline"><div class="checkbox"><label class="checkbox-inline"><input type="checkbox" id="selectItem{{ item.id }}" class="selectItem" value=""></label></div></form></td>
        <td>{{ item.name }}</td>
        <td><input id="sellItem{{ item.id }}Count" type="number" min="1" class="form-control" value=1></td>
        <td><button id="sellItem{{ item.id }}" data-button="{{ item.id }}" type="button" class="btn btn-danger sellItem">Sell!</button></td>
      </tr>
  {% endfor %} #}
</table>

<hr>
<div class="alert alert-info" role="alert">Money Made: ${{ money_made }}</div>
<div class="alert alert-info" role="alert">Profit: ${{ profit }}</div>

{% endblock %}

{% block stylesheets %}
{{ parent() }}

<style>
body {
  padding-top: 60px;
}
@media (max-width: 980px) {
  body {
    padding-top: 0;
  }
}
</style>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(document).ready(function () {
  $('.sellItem').on('click', function () {
    var itemId = $(this).attr('data-button');
    var count = $('#' + $(this).attr('id') + 'Count').val();
    var template = "{{ url('update', {'id': "itemId", 'count': "count" }) }}";
    var location = template.replace("itemId", itemId).replace("count", count);

    window.location.replace(location);
  });
});
</script>
{% endblock %}
